.introducao {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.textoIntroducao {
    background-color: rgba(76, 76, 104, 0.589);
    width: 90%;
    align-items: center;
    color: white;
    font-size: 1.3em;
    padding: 30px;
    margin-top: 150px;
    border-radius: 10px;
}

p::first-letter {
    font-size: 1.5em;
}

@media (max-width: 700px) {
    .cabecalhoPrincipal {
        font-size: 1.5em;
        position: absolute;
    }
    .introducao {
        margin-top: 50px;
    }
}