html {
    scroll-behavior: smooth;
    overflow-y:hidden;
}

body {
    background-image: url(../img/bg-image.jfif);
    background-size: cover;
    padding: auto;
    font-family: 'Cinzel Decorative', cursive;
    
}

.cabecalhoPrincipal {
    background-color: rgba(76, 76, 104, 0.329);
    font-size: 1.5em;
    position: fixed;
    width: 100%;
}

.cabecalhoNavLink {
    text-decoration: none;
    padding: 8px;
    margin-left: 50px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: block;
    color: white;
    
}

.container {
    display: flex;
    justify-content: center;
    
}

.conteudoPrincipal {
    color: white;
    font-size: 3.5em;
    margin-top: 150px;
    margin-bottom: 80px;
    text-shadow: black 0.2em 0.2em 0.2em;
}

.play {
    text-align: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a::before {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2C0E37;
    transition: 0.3s;
}

button {
    width: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(76, 76, 104, 0.589);
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: 0.8em;
}

.comoJogar {
    background-color: rgb(238, 230, 230);
}
